<html>
	<head>
		<!-- JQuery -->
		<script src="{{ .Gateway }}/ipfs/QmfPThdCLjxEcxMsNWGndbNSMhsEaENSUQo9TXyUmKLA8B"></script>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="{{ .Gateway }}/ipfs/QmWRB3DFBbuGKwUrjXznkfNoawtSojCcGCeZHcLFePGuRb/css/bootstrap.min.css">
		<script src="{{ .Gateway }}/ipfs/QmWRB3DFBbuGKwUrjXznkfNoawtSojCcGCeZHcLFePGuRb/js/bootstrap.min.js"></script>

		<!-- SweetAlert -->
		<script src="{{ .Gateway }}/ipfs/Qmb4ZkY3UXEBRArhTzdH36hftRSc71ojEtPuC5rtW4fTgW/sweet-alert.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ .Gateway }}/ipfs/Qmb4ZkY3UXEBRArhTzdH36hftRSc71ojEtPuC5rtW4fTgW/sweet-alert.css">

		<!-- Dropzone -->
		<link rel="stylesheet" type="text/css" href="{{ .Gateway }}/ipfs/QmXF6WWUpfE6SNNd7qk3ySbcxSTDLrcrw3UGXQ9oCS4yCT">
		<script src="{{ .Gateway }}/ipfs/QmNZgjcwVpddVornN7DgvNtzehHbqwPczmHnnuUQbPiLHV"></script>

		<!-- JQuery Paste Image Reader -->
		<script src="{{ .Gateway }}/ipfs/QmR2JcvYKFgUj6me9HDxS1G9Qazma2Mwsg1rsuyYGTokHm"></script>

		<script src="app.js"></script>
	</head>
	<body>
		<div class="container">
			<div role="tabpanel">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#pastebin" aria-controls="pastebin" role="tab" data-toggle="tab">Pastebin</a></li>
	    			<li role="presentation"><a href="#fileupload" aria-controls="fileupload" role="tab" data-toggle="tab">File Upload</a></li>
				</ul>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="pastebin">
						<form id="pastebin-form">
							
							
							<label for="content">File Content</label>
							<textarea class="form-control" id="pastebin-content" name="pastebin-content"></textarea>

							<input type="submit" class="btn btn-default" />

							<!--
							<label for="filename">File Name</label>
							<input type="text" class="form-control" id="filename" placeholder="example.txt">-->

							<!-- TODO: Allow for password based Encryption -->
						</form>
					</div>
					<div role="tabpanel" class="tab-pane" id="fileupload">
						<form action="/upload" class="dropzone" id="dropzone"></form>
					</div>
				</div>
			</div>

			<hr>
			Or, Paste an Image anywhere on the page!
		</div>
	</body>
</html>
